*{
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  nav{
    background-color: black;
    display: flex;
    justify-content:space-between;
    height: 300px;
    width: auto;


  }
  .newlinks{
   color: white;
   padding: 5px;
   display: flex;
   
 }
 .home{
   height: 300px;
   width: 200px;
 }
 .holders{
   padding:20px;
 }
 li {
	list-style-type: none!important;
}

ul {
	margin-bottom: 20px;
	margin-left: 10px;

}

  
}

ul li {

	font-family:'Courier New', Courier, monospace
	font-size: 10px;
	font-size: 1.0rem;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-transform: lowercase;

}

.checkmarks2{
  align-content: center;
}
.similar{
  display: flex;
  padding: 10px;}
.air{
  display: flex;
}
.button{
  background-color:  #FFAC12;
}
.dreams{
  background-color: black;
}
.reality{
  color: white;
}
  
  